parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/paths.php
    paths:
        - src/
    excludePaths:
        - src/Console/Installer.php
